@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Protest+Revolution&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* Colors */
    --backgroundColor: rgb(237, 231, 186);
    --navbarColor:rgb(38, 35, 35);
    --titleBgColor: rgb(227, 127, 51);

    --mainFont: "Protest Revolution";
    --restFont: "Pacifico";

    --titleBorderRadius: 0 0 1em 1em;
}
@media only screen and (max-width:480px){
    body{
        display: grid;
        grid-template-columns: 3% 94% 3%;
        grid-template-rows: max-content max-content max-content max-content;
        background-color: var(--backgroundColor); 
        font-family: var(--restFont);
    }
    /* Header */
    header{
        display: grid;  
        grid-template-columns: 30% 60% 10%;
        grid-template-rows: max-content;
        align-items: center;
        justify-items: center;
        border: 1px solid black;
        grid-column: 2/3;
        background-color: var(--navbarColor);
        margin-top: 1%;
    }
    header > img{
        width: 50%;
        grid-column: 1/2;
        margin: 3% 0;
        border-radius: 10%;
    }
    header > h1{
        grid-column: 2/3;
        color: white;
        font-family: var(--mainFont);
    }
    header > button {
        width: 50%;
    }
    /* Header */

    /* Navigation*/
    nav{
       display: none;
       grid-column: 2/3;
       background-color: whitesmoke;
    }
    nav > ul{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,1fr);
        align-items: center;
        justify-items: center;
        
    }
    nav > ul > li{
        margin: 1% 0;
        list-style: none;
    }
    nav > ul > li > a{
        text-decoration: none;
        color: var(--titleBgColor);
    }
    nav > ul > li > a:hover{
        color: black;
    }
    /* Navigation*/



    /* main */
    main{
        grid-column: 2/3;
        display: grid;
        grid-template-rows: min-content, min-content, min-content, min-content;
        grid-template-columns: 100%;
        justify-items: center;
    }
    .hero{
        position: relative;
    }
    .hero p{
        position: absolute;
        top: 5%;
        left: 5%;
        border: .01rem black solid;
        padding: 1.5% 3%;
        font-weight: 900;
    }
    .hero-image{
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .course{
        display: grid;
        grid-template-rows: auto auto auto;
        justify-content: center;
        
    }
    .course h2{
        text-align: center;
        margin: 5% 0;
        font-family: var(--mainFont);
    }
    .learning-activities{
        border: .5em solid white;
        list-style-position: inside;
        background-color: whitesmoke;
        border-radius: var(--titleBorderRadius);
        
    }
    .learning-activities h3{
        text-align: center;
        border: 1px solid var(--titleBgColor);
        color: white;
        background-color: var(--titleBgColor);
        border-radius: var(--titleBorderRadius);
        font-family: var(--mainFont);
    }
    .learning-activities ul{
        padding-left: 2%;
        margin: 3% 0;
    }
    .learning-activities ul li{
        padding: 1% 0;
    }
    .examples{
        border: .5em solid white;
        list-style-position: inside;
        background-color: whitesmoke;
        border-radius: var(--titleBorderRadius);
    }
    .examples h3{
        text-align: center;
        border: 1px solid var(--titleBgColor);
        color: white;
        background-color: var(--titleBgColor);
        border-radius: var(--titleBorderRadius);
        font-family: var(--mainFont);
    }
    .examples ul{
        padding-left: 2%;
        margin: 3% 0;
    }
    .examples ul li{
        padding: 1% 0;
    }
    .information{
        border: .5em solid white;
        border-radius: var(--titleBorderRadius);
        max-width: 100%;
        width: 90%;
        text-align: center;
        margin: 1% 0;
        background-color: whitesmoke;
        
    }
    .information h3{
        background-color: var(--titleBgColor);
        color: white;
        border: 1px solid var(--titleBgColor);
        border-radius: var(--titleBorderRadius);
        font-family: var(--mainFont);
    }
    .information p{
        padding: 1% 0;
    }
.google-map{
    width: 100%;
    height: auto;
}
.map{
    width: 100%;
    max-width: 100%;
}
    /* main */


    /* footer */
    footer{
        grid-column: 2/3;
        margin: 1% 0;
        border: 1px solid;
        text-align: center;
        color: white;
        background-color: var(--navbarColor);
        padding: 4% 0;
        font-family: var(--mainFont);
    }
    /* footer */
    
}