*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.list > #Companies > .card:nth-child(even)
{
    background-color: #fff;
    color: black;
}
.list > #Companies > .card a{
color: black;
}
.grid > #Companies > .card{
    background-color: #d6cfc0;
}
.grid img{
    width: 7vw;
    margin-top: 5%;
    margin-bottom: 2%;
}
.list img{
    display: none;
}
@media only screen and (max-width: 480px) {
main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content min-content;
    justify-content: center;
    justify-items: center;
    width: 100%;
    align-items: center;
}
#DisplayButtons{
    padding: 2% 0;
}
.grid > #Companies > .card{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 2% 0;
    border-radius: 2em;
    margin-top: 2%;
    padding: 2% 2%;
}
.list > #Companies > .card{
    width: 90vw;
    text-align: left;
    background-color: var(--box1Color);
    color: white;
    padding: 2% 0;
    padding-left: 1%;
}


}

@media (min-width: 481px) and (max-width: 768px) {
    main{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content min-content;
        justify-content: center;
        justify-items: center;
        width: 100%;
        align-items: center;
    }
    #DisplayButtons{
        padding: 2% 0;
    }
    .grid > #Companies{
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: center;
        align-items: center;
        align-items: center;
        justify-items: center;
        column-gap: 1em;
    }
    .grid > #Companies > .card{
        width: 15em;
        height: 12em;
        text-align: center;
        border: 1px solid black;
        padding: 2% 0;
        border-radius: 2em;
        margin-top: 2%;
        padding: 1% 2%;
    }

    .list > #Companies{

    }
    .list > #Companies > .card{
        width: 90vw;
        text-align: left;
        background-color: var(--box1Color);
        color: white;
        padding: 2% 0;
        padding-left: 1%;
    }
}

@media (min-width: 769px)
{
    main{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content min-content;
        justify-content: center;
        justify-items: center;
        width: 100%;
        align-items: center;
    }
    #DisplayButtons{
        padding: 2% 0;
    }
    .grid > #Companies{
        display: grid;
        grid-template-columns: max-content max-content max-content;
        justify-content: center;
        align-items: center;
        align-items: center;
        justify-items: center;
        column-gap: 1em;
    }
    .grid > #Companies > .card{
        width: 15em;
        height: 12em;
        text-align: center;
        border: 1px solid black;
        padding: 2% 0;
        border-radius: 2em;
        margin-top: 2%;
        padding: 1% 2%;
    }
    .grid img{
        width: 4vw;
    }
    .list > #Companies > .card{
        display: flex;
        justify-content: space-around;
    }
    .list > #Companies > .card{
    width: 90vw;
    text-align: left;
    background-color: var(--box1Color);
    color: white;
    padding: 2% 0;
    padding-left: 1%;
}
}