@media only screen and (max-width: 480px) {
    #discover-main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content max-content;
        text-align: center;

    }

    #discover-main>.discover-section1 {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        margin-top: 2%;
    }

    .discover-section1>.discover-content {
        border: 1px solid black;
        height: 20vh;
        width: 90vw;
        margin: 1% 0;
        display: grid;
        padding: 3% 0;
        background-color: var(--box1Color);
        color: var(--textColor);
    }
    .discover-section1>.discover-content h3{
        letter-spacing: .2em;
        font-weight: bolder;
        font-size: 1.5rem;
    }

    #discover-main>.discover-section2 {
        display: grid;
        grid-template-columns: 100%;
    }

    #discover-main>.discover-section2 h2 {
        margin: 1% 0;
    }

    .discover-section2 div img {
        max-width: 100%;
        width: 90%;
        margin: 1% 0;
        filter: saturate(50%);
    }
    .discover-section2 div img:hover{
        filter: none;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    #discover-main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content max-content;
        text-align: center;

    }

    #discover-main>.discover-section1 {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        margin-top: 2%;
    }

    .discover-section1>.discover-content {
        border: 1px solid black;
        height: 20vh;
        width: 90vw;
        margin: 1% 0;
        display: grid;
        padding: 3% 0;
        background-color: var(--box1Color);
        color: var(--textColor);
    }
    .discover-section1>.discover-content h3{
        letter-spacing: .2em;
        font-weight: bolder;
        font-size: 1.5rem;
    }

    #discover-main>.discover-section2 {
        display: grid;
        grid-template-columns: 100%;
    }

    #discover-main>.discover-section2 h2 {
        margin: 1% 0;
    }

    .discover-section2 div img {
        max-width: 100%;
        width: 90%;
        margin: 1% 0;
        filter: saturate(50%);
    }
    .discover-section2 div img:hover{
        filter: none;
    }
}
@media only screen and (min-width: 769px) {
    #discover-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;
        text-align: center;

    }

    #discover-main>.discover-section1 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content repeat(4,max-content);
        justify-items: center;
        margin-top: 2%;
    }

    .discover-section1>.discover-content {
        border: 1px solid black;
        height: 30vh;
        width: 45vw;
        margin: 1% 0;
        display: grid;
        padding: 3% 0;
        background-color: var(--box1Color);
        color: var(--textColor);
    }
    .discover-section1>.discover-content h3{
        letter-spacing: .2em;
        font-weight: bolder;
        font-size: 1.5rem;
    }

    #discover-main>.discover-section2 {
        display: grid;
        grid-template-columns: 100%;
    }

    #discover-main>.discover-section2 h2 {
        margin: 1% 0;
    }

    .discover-section2 div img {
        max-width: 100%;
        width: 70%;
        margin: 1% 0;
        filter: saturate(50%);
    }
    .discover-section2 div img:hover{
        filter: none;
    }
}
.discover-section1 h2{
    color: var(--discoverHeading);
}
.discover-section2 h2{
    color: var(--discoverHeading);
    
}