@media only screen and (max-width: 480px) {
.main-form{
    display: grid;
    margin-left: 1%;
}    
.submit-button{
    width: max-content;
    padding: 1% 2%;
    margin-top: 1%;
}
.membership{
    /* display: none; */
}
.np, .bronze, .silver, .gold{
    display: none;
}
}
