/* Google Fonts */
/* Google Fonts */

/* Universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Universal */

/* Variables */
/* Variables */

@media only screen and (max-width: 480px) 
{
    /* Header */
    /* Please use elements in order*/
    .main-heading 
    {
        display: grid;
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: max-content max-content;
        align-items: center;
        text-align: center;

    }
    .logo
    {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .logo img
    {
        width: 60%;
    }
    .heading
    {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .heading h1
    {
        font-size: 110%;
    }
    .socials
    {
        grid-column: 3/3;
        grid-row: 1/2;
        display: flex;
        flex-wrap: nowrap;
    }
    .socials img{
        width: 60%;
    }
    .menu-button
    {
        grid-column: 1/3;
        grid-row: 2/2;
    }
    .menu-button button
    {
        width: 100vw;
        height: 100%;
        font-size: xx-large;
        border-radius: 0;
    }
    /* Header */

    /* Navigation */
    /* Please use elements in order*/
    #navbar
    {
        display: none;
    }
    nav
    {
        text-align: center;
    }
    nav ul
    {
        padding: 2% 0;
        border: 1px solid;
     
    }
    nav ul li
    {
        list-style: none;
     
        
    }
    nav ul li a
    {
        text-decoration: none;
    display: block;
    }
    /* Navigation */

    /* Main */
    /* Please use elements in order*/
    
    /* Main */
    .about
    {
        margin: 3% 2%;
        border: 1px solid;
        margin-top: 5%;
    }
    .about > .about-title
    {
        text-align: center;
        margin: 2% 0;
    }
    .about > .about-para
    {
        border: 1px solid;
        margin: 2% 2%;
        margin-bottom: 4%;
        padding: 1%;
    }
    .hero-image
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        align-items: center;
        justify-items: center;
        margin: 3% 2%;
    }
    
    .hero-image > img
    {
        grid-column: 1/4;
        grid-row: 1/4;
        max-width: 100%;
        width: 100%;
    }
    .hero-image > h1
    {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .hero-image > a
    {
        grid-column: 2;
        grid-row: 2;
    }
    
    .drink-counter
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        align-items: center;
        justify-items: center;
        margin: 3% 2%;
        
    }
    .drink-counter > img
    {
        max-width: 100%;
        width: 100%;
        grid-column: 1/4;
        grid-row: 1/4;
    }
    .drink-counter > p
    {
        grid-column: 1/4;
        grid-row: 1;
    }
    
    .weather-box
    {
        margin: 3% 2%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);
        border: 1px solid;
    }
    .weather-title
    {
        text-align: center;
        margin: 2% 0;
    }
    .current-weather
    {
        display: grid;
        justify-content: center;
        justify-items: center;
        border: 1px solid;
        margin: 1% 2%;
    }
    .weathers
    {
        display: flex;
        justify-content: space-around;
        text-align: center;
        border: 1px solid;
        margin: 1% 2%;
        margin-bottom: 3%;
        
    }
    
    /* Footer */
    /* Please use elements in order*/
    footer
    {
        border: 1px solid;
    }
    .company-content
    {
        text-align: center;
    }
    .company-content h3,a,p
    {
        margin: 1% 0;
    }
    .copyright-content
    {
        text-align: center;
        border-top: 1px dotted;
        margin: 1% 0;

    }
    .copyright-content p
    {
        margin: 1% 0;
    }
    .disclaimer
    {
        border-top: 1px solid;
        font-size: 50%;
        text-align: center;
    }
    /* Footer */
}