@media (min-width: 768px)
{
     /* Header */
    /* Please use elements in order*/
    header
    {
        height: max-content;
    }
    .main-heading 
    {
        display: grid;
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: max-content max-content;
        align-items: center;
        text-align: center;
        background-color: var(--mainColor);

    }
    .logo
    {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .logo img
    {
        width: max-content;
        filter: contrast(200%);
    }
    .heading
    {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .heading h1
    {
        font-size: 2em;
        font-family: var(--titleFont);
    }
    .socials
    {
        grid-column: 3/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .socials a
    {
        width: max-content;
    }
    .socials img{
        width: 90%;
    }
    .socials a:hover
    {
        filter: contrast(150%);
    }
    .menu-button
    {
        grid-column: 1/3;
        grid-row: 2/2;
    }
    .menu-button button
    {
        width: 100vw;
        height: 100%;
        font-size: xx-large;
        border-radius: 0;
        background-color: var(--accentColor);
        display: none;
    }
    /* Header */

    /* Navigation */
    /* Please use elements in order*/
    #navbar
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    nav
    {
        text-align: center;
    }
    nav ul
    {
        padding: 2% 0;
        border: 1px solid;
        background-color: var(--mainColor);
    }
    nav ul li
    {
        list-style: none;
    }
    nav ul li a
    {
        text-decoration: none;
    display: block;
    color: black;
    font-family: var(--midContentFont);
    }
    nav ul:hover{
        background-color: var(--accentColor);
        font-weight: 900;
    }
    /* Navigation */

    /* Main */
    /* Please use elements in order*/
    .main
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: max-content max-content max-content;
    }
    
    .about
    {
        margin: 3% 2%;
        border: 1px solid;
        margin-top: 5%;
        background-color: var(--mainColor);
        box-shadow: var(--shadowSettings);
        grid-column: 1/3;
        grid-row: 1/4;
    }
    .about > .about-title
    {
        text-align: center;
        margin: 2% 0;
        font-family: var(--titleFont);
        font-weight: 900;
    }
    .about > .about-para
    {
        border: 1px solid;
        margin: 2% 2%;
        margin-bottom: 4%;
        padding: 1%;
        background-color: var(--backColor);
        font-family: var(--paraFont);
    }
    .hero-image
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        align-items: center;
        justify-items: center;
        margin: 3% 2%;
        box-shadow: var(--shadowSettings);
        
    }
    
    .hero-image > img
    {
        grid-column: 1/4;
        grid-row: 1/4;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    .hero-image > h1
    {
        grid-column: 1/4;
        grid-row: 1/2;
        font-family: var(--midContentFont);
        text-align: center;
    }
    .hero-image > a
    {
        grid-column: 2;
        grid-row: 2;
        border: .2em solid;
        padding: 3% 10%;
        border-radius: 1em;
        color: white;
        background-color: black;
        text-decoration: none;
        border-color: var(--backColor);
        font-family: var(--paraFont);
        font-size: large;
    }
    .hero-image > a:hover
    {
        font-weight: 900;
        font-size: larger;
        border-color: var(--mainColor);
    }
    
    .drink-counter
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        align-items: center;
        justify-items: center;
        margin: 3% 2%;
        box-shadow: var(--shadowSettings);
        
    }
    .drink-counter > img
    {
        max-width: 100%;
        width: 100%;
        height: 100%;
        grid-column: 1/4;
        grid-row: 1/4;
    
    }
    .drink-counter > p
    {
        grid-column: 1/4;
        grid-row: 1;
        font-family: var(--midContentFont);
        font-size: large;
        text-align: center;
    }
    
    .weather-box
    {
        margin: 3% 2%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content 1fr;
        border: 1px solid;
        background-color: var(--mainColor);
        box-shadow: var(--shadowSettings);
        font-family: var(--midContentFont);
        grid-column: 1/3;
    }
    .weather-title
    {
        text-align: center;
        margin: 2% 0;
        grid-column: 1/3;
    }
    .current-weather
    {
        display: grid;
        justify-content: center;
        justify-items: center;
        border: 1px solid;
        margin: 1% 2%;
        background-color: var(--accentColor);
        height: max-content;
    }
    .weathers
    {
        display: flex;
        justify-content: space-around;
        text-align: center;
        border: 1px solid;
        margin: 1% 2%;
        margin-bottom: 3%;
        
    }
    /* Main */
    
    /* Footer */
    /* Please use elements in order*/
    footer
    {
        border: 1px solid;
        background-color: var(--mainColor);
    }
    .company-content
    {
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .company-content h3,a,p
    {
        margin: 1% 0;
    }
    .company-content h3
    {
        font-family: var(--titleFont);
    }
    .company-content a
    {
        text-decoration: none;
        color: #aa0e0e;
        font-weight: 900;
    }
    .copyright-content
    {
        text-align: center;
        border-top: 1px dotted;
        margin: 1% 0;
        display: flex;
        justify-content: space-evenly;

    }
    .copyright-content p
    {
        margin: 1% 0;
    }
    .disclaimer
    {
        border-top: 1px solid;
        font-size: 50%;
        text-align: center;
        height: min-content;
    }
    /* Footer */
}